*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif !important;
    width: 100vw;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5%;
    overflow-x: hidden;
    background: linear-gradient(#949494,#646464,#000000)
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 5%;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
h2{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}
p{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}
div{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}









